.popup {
    display: none;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup.active {
    display: inline-block; 
}

.popup-content {
    position: fixed; 
    left: 50%;
    top: 40%; 
    transform: translateX(-50%);
    height: auto; 
    width: 40%;
    border: 1px solid silver; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background-color: white;
    align-items: center;
    padding : 2%;
}

.popup-content.active {
    opacity: 1;
}